/* =============
    Hero
============= */
#hero{

    margin-top: 78px;
    display: grid;
    grid-template-columns: 45% auto;
    
    
    
    
    div{
        
        h2{
            font-size: rem-calc(62);
        }

        #hero-title-container-top{
        }

        #hero-title-container{
            display: flex;
         }
        
         #hero-title-container-bottom{
         }
    }
    
    p{
        font-size: rem-calc(18);
        margin-top: 25px;

    }
    ul{
        font-size: rem-calc(20);
        margin-top: 25px; 
        list-style: none;


    }
}

aside{
    img{
        margin-top: -60px; 
        margin-left: 50px;
        height: 530px;
        width: 720px;

    
    }

}


