/* =============
    Header
============= */
header{
    nav{
        ul{
            .list{
                position: relative;
                top: 20px;
            }
            li{
                a{
                   color: var(--white);
                   font-size: rem-calc(18);


                }
            }
            #trial{
                a{
                    font-size: rem-calc(18);

                }

            }
            #home{
                a{
                    color: var(--blue);
                    font-size: rem-calc(18);

                 }

            }
        }
    }
}